node_modules/
lerna-debug.log
npm-debug.log
packages/*/lib
TODO*
.tomove
.DS_Store
solid_server.sqlite
build
dist
temp-data*
temp-data/*
*.zip
.env
!temp-data/.gitkeep 
coverage
junit.xml
.npmrc
snapshot-info.json
packages/server/data/file-items.db
